<div class="about-me-container">
    <div>
        <div class="img-cont">
            <img src="assets/img/photo.png" alt="">
        </div>
        <div class="aboutme-cont">
            <div class="about-all">
                <p>{{ 'aboutMe.whoIAm' | translate }}</p>
                <div class="about-text">
                    <h2>{{ 'aboutMe.aboutMeTitle' | translate }}</h2>
                    <div class="text-cont">
                        <span>{{ 'aboutMe.intro' | translate }}</span>
                        <div>
                            <div class="icon-text">
                                <img src="assets/icons/location.png" alt="">
                                <p>{{ 'aboutMe.flexibleLocation' | translate }}</p>
                            </div>
                            <div class="icon-text">
                                <img src="assets/icons/mind.png" alt="">
                                <p>{{ 'aboutMe.openMinded' | translate }}</p>
                            </div>
                            <div class="icon-text">
                                <img src="assets/icons/hook.png" alt="">
                                <p>{{ 'aboutMe.creativeProblemSolving' | translate }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
