@import "../../../mixins.scss";

* {
  width: 100%;
}

.portfolio-container {
  padding: 64px 96px;
  width: 100%;
  @include dFlex($ai: flex-start);
}

@media (max-width: 1000px) {
  .portfolio-container {
    padding: 48px 16px;
  }
}