<div class="projects-cont">
    <div (click)="openDialog()"  class="project">
        <h3>Join</h3>
        <div>
            <span>JavaScript</span>
            <span>HTML</span>
            <span>CSS</span>
            <span>Firebase</span>
        </div>
    </div>
    <div class="project">
        <h3>Sharky</h3>
        <div>
            <span>JavaScript</span>
            <span>HTML</span>
            <span>CSS</span>
        </div>
    </div>
    <div class="project">
        <h3>Pokédex</h3>
        <div>
            <span>Javascript</span>
            <span>HTML</span>
            <span>CSS</span>
            <span>Rest-Api</span>
        </div>
    </div>
</div>