<div class="effect-container">
    <div class="projects-cont">
        <div (mouseover)="hoverProject(0)" (mouseleave)="leaveProject()" (click)="openDialog('dabubble', 0)"
            class="project">
            <div class="name-container">
                <h3>DABubble</h3>
                <img [ngClass]="{'opacity': this.showArrowArray[0]}" src="assets/icons/arrow-outward-white.png" alt="">
            </div>
            <div class="tech-container">
                @for (techIndex of projectData.projects["dabubble"].technologies; track $index; let i = $index) {
                <span>{{projectData.technologiesArray[techIndex]}}</span>
                }
            </div>
        </div>
        <div (mouseover)="hoverProject(1)" (mouseleave)="leaveProject()" (click)="openDialog('join', 1)"
            class="project">
            <div class="name-container">
                <h3>Join</h3>
                <img [ngClass]="{'opacity': this.showArrowArray[1]}" src="assets/icons/arrow-outward-white.png" alt="">
            </div>
            <div class="tech-container">
                @for (techIndex of projectData.projects["join"].technologies; track $index; let i = $index) {
                <span>{{projectData.technologiesArray[techIndex]}}</span>
                }
            </div>
        </div>
        <div (mouseover)="hoverProject(2)" (mouseleave)="leaveProject()" (click)="openDialog('sharky', 2)"
            class="project">
            <div class="name-container">
                <h3>Sharky - The Game</h3>
                <img [ngClass]="{'opacity': this.showArrowArray[2]}" src="assets/icons/arrow-outward-white.png" alt="">
            </div>
            <div class="tech-container">
                @for (techIndex of projectData.projects["sharky"].technologies; track $index; let i = $index) {
                <span>{{projectData.technologiesArray[techIndex]}}</span>
                }
            </div>
        </div>
    </div>
    <div [ngClass]="{
        'background-animation' : this.imgAnimation
    }" class="img-container">
        <img [ngClass]="{
            'img-animation' : this.imgAnimation
        }" [src]="imgSrcWhenHover" alt="Project-Image">
    </div>
</div>