@import "../../../../mixins.scss";


.projects-cont {
    @include dFlex($ai: flex-start);
    width: 100%;
}

.project {
    width: 100%;
    max-width: 1000px;
    padding: 40px 32px;
    border-bottom: 1px solid #3DCFB6;
    @include dFlex($fd: row, $jc: space-between);
    color: white;
    z-index: 5;
    cursor: pointer;
    transition: all 125ms ease-in-out;

    &:hover {
        background-color: rgba(61, 207, 182, 0.3);
    }

    >h3 {
        font-family: "fira code";
        font-size: 24px;
        font-weight: 700;
    }

    >div {
        @include dFlex($fd: row);

        >span {
            font-family: "karla";
            font-size: 18px;
            font-weight: 400;
            border-right: 1px solid #3DCFB6;
            padding: 0px 8px;
        }

        >span:first-of-type {
            padding-left: 0;
        }

        >span:last-of-type {
            border: 0;
        }
    }
}

@media (max-width: 600px) {
    .project {
        @include dFlex($fd: column, $ai: flex-start, $jc: space-between);

        >div {
            flex-wrap: wrap;
            justify-content: flex-start;

            >span {
               margin: 4px 0px;
            }
        }

    }
}