<div class="effect-container">
    <div class="projects-cont">
        <div (mouseover)="hoverProject(0)" (mouseleave)="leaveProject()" (click)="openDialog('join', 0)"
            class="project">
            <h3>Join</h3>
            <div>
                <span>JavaScript</span>
                <span>HTML</span>
                <span>CSS</span>
                <span>Firebase</span>
            </div>
        </div>
        <div (mouseover)="hoverProject(1)" (mouseleave)="leaveProject()" (click)="openDialog('sharky', 1)"
            class="project">
            <h3>Sharky</h3>
            <div>
                <span>JavaScript</span>
                <span>HTML</span>
                <span>CSS</span>
            </div>
        </div>
        <div (mouseover)="hoverProject(2)" (mouseleave)="leaveProject()" (click)="openDialog('pokedex', 2)"
            class="project">
            <h3>Pokédex</h3>
            <div>
                <span>Javascript</span>
                <span>HTML</span>
                <span>CSS</span>
                <span>Rest-Api</span>
            </div>
        </div>
    </div>
    <div [ngClass]="{
        'background-animation' : this.imgAnimation,
        'd-none' : !this.showImg
    }" class="img-container">
        <img [ngClass]="{
            'img-animation' : this.imgAnimation
        }" [src]="imgSrcWhenHover" alt="Project-Image">
    </div>
</div>