@import "../../../mixins.scss";

.hide-mobile {
  display: flex;
}

.show-mobile {
  display: none !important;
}

.mail-desktop {
  display: block;
}

.mail-mobile {
  display: none;
}

.dot {
  transition: all 125ms ease-in-out;
}

.above-container {
  font-family: "Fira Code";
  @include dFlex();
  position: relative;
  height: 100vh;
  width: 100%;
}

.menubar {
  position: absolute;
  top: 48px;
  left: 0;
  width: 100%;
  height: 50px;
  @include dFlex($jc: space-between, $fd: row);
  > menu {
    @include dFlex($fd: row, $g: 25px);
    > a {
      @include dFlex($g: 5px);
      text-decoration: none;
      color: #ffffff;
      cursor: pointer;
      transition: all 100ms ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
      > img {
        position: absolute;
        top: 110%;
      }
    }
  }
  > img {
    width: 200px;
    height: auto;
  }
}

.headline {
  width: 100%;
  @include dFlex();
  color: #d9d9d9;
  text-align: center;
  > h2 {
    font-family: "fira code";
    font-weight: 400;
    font-size: 40px;
  }
}

.action-btn {
  @include dFlex($fd: column, $g: 40px);
  width: 100%;
  color: #d9d9d9;
  text-align: center;
  > h1 {
    font-family: "karla";
    font-weight: 700;
    font-size: 128px;
  }
  > .btn {
    @include dFlex($fd: row, $g: 48px);
    > a {
      @include dFlex();
      z-index: 2;
      height: 48px;
      width: auto;
      text-decoration: none;
      color: #ffffff;
      font-family: "karla";
      font-size: 18px;
      font-weight: 400;
      border: 1px solid #ffffff;
      border-radius: 100px;
      padding: 0px 24px;
      cursor: pointer;
      transition: all 125ms ease-in-out;
      &:hover {
        background-color: #08463b3f;
        transform: scale(1.05);
      }
    }
  }
}

.socials-and-nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  @include dFlex($fd: row, $jc: space-between, $ai: flex-end);
}

.bottom-nav {
  @include dFlex($fd: column, $g: 24px);
  > a {
    @include dFlex();
    height: 48px;
    width: 30px;
    border: 1px solid #3dcfb6;
    border-radius: 32px;
    transition: all 125ms ease-in-out;
    &:hover {
      background-color: #08463ba4;
    }
  }
  > div {
    height: 240px;
    border: 1px solid #3dcfb6;
  }
}

.socials {
  @include dFlex($fd: column, $g: 24px);
  > .mail {
    font-family: "karla";
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    transform: rotate(-90deg);
    position: relative;
    width: 22px;
    bottom: 0px;
    transition: all 125ms ease-in-out;
    &:hover {
      color: #3dcfb6;
    }
  }
  > a {
    position: relative;
    > img:first-of-type {
      transition: all 125ms ease-in-out;
      &:hover {
        transform: scale(1.15);
        filter: brightness(100);
      }
    }
  }
  > div {
    height: 186px;
    border: 1px solid #ffffff;
  }
}

.social-dot {
  position: absolute;
  right: -20px;
  top: 9px;
}

.banner {
  position: absolute;
  @include dFlex($fd: row, $g: 56px);
  bottom: 50px;
  left: -100px;
  right: -100px;
  height: 64px;
  background-color: rgba(128, 128, 128, 0.466);
  transform: rotate(-3deg);
  color: white;
  font-family: "karla";
  font-weight: 400;
  font-size: 32px;
}

@media (max-width: 1215px) {
  .mail-desktop {
    display: none;
  }

  .mail-mobile {
    display: block;
    transform: rotate(0) !important;
    bottom: 0 !important;
  }

  .mail {
    width: 100% !important;
  }
}

@media (max-width: 1119px) {
  .hide-mobile {
    display: none;
  }

  .show-mobile {
    display: flex !important;
  }

  .headline {
    > h2 {
      font-size: 24px;
    }
  }

  .action-btn {
    gap: 32px;
    > h1 {
      font-size: 62px;
    }
  }

  .bottom-nav {
    > div {
      height: 224px;
    }
  }

  .socials {
    .mail {
      transform: rotate(0deg);
      bottom: 0px;
      width: 100%;
    }

    > div {
      height: 112px;
    }
  }
}

/* From Uiverse.io by gharsh11032000 */
/* The switch - the box around the slider */
.switch {
  font-family: "karla";
  position: relative;
  display: inline-block;
  width: 84px;
  height: 28px;
  > div {
    position: absolute;
    top: 5px;
    width: 100%;
    @include dFlex($fd: row, $jc: space-between);
    padding: 0px 11px;
    color: rgba(255, 255, 255, 0.5);
  }
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  z-index: 99;
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: #9fccfa00;
  border: 2px solid #3dcfb6;
  border-radius: 100px;
  transition: all 125ms ease-in-out;
}

.slider:before {
  font-family: "karla";
  position: absolute;
  content: "EN";
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 44px;
  inset: 0;
  background-color: #3dcfb6;
  border-radius: 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  transition: all 100ms ease-in-out;
}

.slider.de:before {
  content: "DE";
}

.switch input:checked + .slider {
  background: #6992c000;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #0975f100;
}

.switch input:checked + .slider:before {
  transform: translateX(36px);
}
