@import "../../../mixins.scss";

.above-container {
  font-family: "Fira Code";
  @include dFlex();
  position: relative;
  height: 100vh;
  width: 100%;
}

.menubar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    @include dFlex($jc: space-between , $fd: row, );
    >menu {
        @include dFlex($fd: row, $g: 25px, );
      > nav {
        text-decoration: none;
        color: #ffffff;
      }
    }
    > img {
      width: 200px;
      height: auto;
    }
  }
