@import url("../../../mixins.scss");

.above-container {
    @include dFlex();
    position: relative;
    >menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}

.menu-links {
    
}

p {
    font-family: "fira code";
}