<div class="above-container">

    <div class="menubar">
        <menu class="menu-links">
            <label class="switch">
                <input type="checkbox">
                <span  class="slider" (click)="this.toggleLanguage()" 
                [ngClass]="{de: this.isGerman}"></span>
                <div>
                    <span>EN</span>
                    <span>DE</span>
                </div>
            </label>
            <a href="#">{{ 'menu.aboutMe'  }}</a>
            <a href="#">{{ 'menu.skills'  }}</a>
            <a href="#">{{ 'menu.projects' }}</a>
        </menu>
        <img src="assets/img/logo-name.png" alt="">
    </div>

    <div class="headline">
        <h2>Frontend Developer</h2>
        <div class="action-btn">
            <h1>Mike Schauber</h1>
            <div class="btn">
                <a href="https://mike-schauber.developerakademie.net/developer-akademie/projekt-website/index.html"
                    target="_blank">Check my work</a>
                <a>Contact me</a>
            </div>
        </div>
    </div>

    <div class="socials-and-nav hide-mobile">
        <div class="bottom-nav">
            <a href="#">
                <img src="assets/above-section/above-arrow.png" alt="">
            </a>
            <div></div>
        </div>
        <div class="socials">
            <a class="mail mail-desktop" href="mailto:mike.schauber96@gmail.com">mike.schauber96&#64;gmail.com</a>
            <a class="mail mail-mobile" href="mailto:mike.schauber96@gmail.com">
                <img src="assets/icons/mail.png" alt="">
            </a>
            <a href="https://github.com/MikeSchauber" target="_blank">
                <img src="assets/icons/github.png" alt="">
            </a>
            <a href="https://www.linkedin.com/in/mike-schauber-b17328303/" target="_blank">
                <img src="assets/icons/linkedin.png" alt="">
            </a>
            <div></div>
        </div>
    </div>

    <div class="socials-and-nav show-mobile">
        <div class="bottom-nav">
            <a href="#">
                <img src="assets/above-section/above-arrow.png" alt="">
            </a>
            <div></div>
        </div>
        <div class="socials">
            <a class="mail" href="mailto:mike.schauber96@gmail.com">
                <img src="assets/icons/mail.png" alt="">
            </a>
            <a href="https://github.com/MikeSchauber" target="_blank">
                <img src="assets/icons/github.png" alt="">
            </a>
            <a href="https://www.linkedin.com/in/mike-schauber-b17328303/" target="_blank">
                <img src="assets/icons/linkedin.png" alt="">
            </a>
            <div></div>
        </div>
    </div>

</div>