<div class="above-container">

    <div class="menubar">
        <menu class="menu-links">
            <label class="switch">
                <input type="checkbox">
                <span class="slider" (click)="this.toggleLanguage()" [ngClass]="{de: this.isGerman}"></span>
                <div>
                    <span>EN</span>
                    <span>DE</span>
                </div>
            </label>
            <a (mouseover)="mouseover('about');" (mouseout)="mouseout('about');" href="#">{{
                'menu.aboutMe' | translate }}
                <img [ngStyle]="{'opacity': this.about ? 1 : 0}" class="dot" src="/assets/icons/dot.png" alt="">
            </a>
            <a (mouseover)="mouseover('skills');" (mouseout)="mouseout('skills');" href="#">{{ 'menu.skills' | translate
                }}
                <img [ngStyle]="{'opacity': this.skills ? 1 : 0}" class="dot" src="/assets/icons/dot.png" alt="">
            </a>
            <a (mouseover)="mouseover('projects');" (mouseout)="mouseout('projects');" href="#">{{ 'menu.projects' |
                translate }}
                <img [ngStyle]="{'opacity': this.projects ? 1 : 0}" class="dot" src="/assets/icons/dot.png" alt="">
            </a>
        </menu>
        <img src="assets/img/logo-name.png" alt="">
    </div>

    <div class="headline">
        <h2>{{ 'headline.title' | translate }}</h2>
        <div class="action-btn">
            <h1>Mike Schauber</h1>
            <div class="btn">
                <a href="https://mike-schauber.developerakademie.net/developer-akademie/projekt-website/index.html"
                    target="_blank">{{ 'headline.checkWork' | translate }}</a>
                <a>{{ 'headline.contactMe' | translate }}</a>
            </div>
        </div>
    </div>

    <div class="socials-and-nav hide-mobile">
        <div class="bottom-nav">
            <a href="#">
                <img src="assets/above-section/above-arrow.png" alt="">
            </a>
            <div></div>
        </div>
        <div class="socials">
            <a class="mail mail-desktop" href="mailto:mike.schauber96@gmail.com">mike.schauber96&#64;gmail.com</a>
            <a (mouseover)="mouseover('mail');" (mouseout)="mouseout('mail');" class="mail mail-mobile"
                href="mailto:mike.schauber96@gmail.com">
                <img src="assets/icons/mail.png" alt="">
                <img [ngStyle]="{'opacity': this.mail ? 1 : 0}" class="social-dot" src="assets/icons/dot.png" alt="">
            </a>
            <a (mouseover)="mouseover('github');" (mouseout)="mouseout('github');"
                href="https://github.com/MikeSchauber" target="_blank">
                <img src="assets/icons/github.png" alt="">
                <img [ngStyle]="{'opacity': this.github ? 1 : 0}" class="social-dot" src="assets/icons/dot.png" alt="">
            </a>
            <a (mouseover)="mouseover('linkedin');" (mouseout)="mouseout('linkedin');"
                href="https://www.linkedin.com/in/mike-schauber-b17328303/" target="_blank">
                <img src="assets/icons/linkedin.png" alt="">
                <img [ngStyle]="{'opacity': this.linkedin ? 1 : 0}" class="social-dot" src="assets/icons/dot.png"
                    alt="">
            </a>
            <div></div>
        </div>
    </div>

    <div class="socials-and-nav show-mobile">
        <div class="bottom-nav">
            <a href="#">
                <img src="assets/above-section/above-arrow.png" alt="">
            </a>
            <div></div>
        </div>
        <div class="socials">
            <a (mouseover)="mouseover('mail');" (mouseout)="mouseout('mail');" class="mail"
                href="mailto:mike.schauber96@gmail.com">
                <img src="assets/icons/mail.png" alt="">
                <img [ngStyle]="{'opacity': this.mail ? 1 : 0}" class="social-dot" src="assets/icons/dot.png" alt="">
            </a>
            <a (mouseover)="mouseover('github');" (mouseout)="mouseout('github');"
                href="https://github.com/MikeSchauber" target="_blank">
                <img src="assets/icons/github.png" alt="">
                <img [ngStyle]="{'opacity': this.github ? 1 : 0}" class="social-dot" src="assets/icons/dot.png" alt="">
            </a>
            <a (mouseover)="mouseover('linkedin');" (mouseout)="mouseout('linkedin');"
                href="https://www.linkedin.com/in/mike-schauber-b17328303/" target="_blank">
                <img src="assets/icons/linkedin.png" alt="">
                <img [ngStyle]="{'opacity': this.linkedin ? 1 : 0}" class="social-dot" src="assets/icons/dot.png"
                    alt="">
            </a>
            <div></div>
        </div>
    </div>

    <div class="banner">
        <img src="assets/icons/dot.png" alt="">
        <span>{{ 'banner.1' | translate }}</span>
        <img src="assets/icons/dot.png" alt="">
        <span>{{ 'banner.2' | translate }}</span>
        <img src="assets/icons/dot.png" alt="">
        <span>{{ 'banner.3' | translate }}</span>
        <img src="assets/icons/dot.png" alt="">
        <span>{{ 'banner.4' | translate }}</span>
    </div>
</div>