@import "../../../../mixins.scss";

.hide-mobile {
  display: flex;
}

.show-mobile {
  display: none;
}

form {
  @include dFlex($g: 40px, $jc: flex-start);
  width: 616px;
}

.input-container {
  @include dFlex();
  border-top: 1px solid #3dcfb6;
  border-bottom: 1px solid #3dcfb6;
  width: 100%;

  > div {
    @include dFlex($ai: flex-start, $g: 16px);
    padding: 32px;
    border-top: 1px solid #3dcfb6;
    border-bottom: 1px solid #3dcfb6;
    width: 100%;

    > label {
      font-family: "fira code";
      font-weight: 500;
      font-size: 24px;
      color: #3dcfb6;
    }

    > input,
    textarea {
      font-family: "karla";
      background: none;
      border: none;
      outline: none;
      padding: 10px;
      font-size: 16px;
      color: #fff;
      width: 100%;
      resize: vertical;

      &::placeholder {
        color: #ffffff;
        opacity: 0.7;
      }

      &:focus {
        border: 0;
        background-color: rgba(255, 255, 255, 0);
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0);
      }
    }

    > span {
      color: rgba(236, 123, 123, 0.8);
    }
  }
}

.validate-container {
  @include dFlex($g: 48px);
  width: 100%;
  > span {
    @include dFlex($ai: flex-start);
    width: 100%;
    color: rgba(236, 123, 123, 1);
  }
}

.validate {
  @include dFlex($fd: row, $g: 8px);
}

.img-container {
  border-radius: 50%;
  @include dFlex();
  height: 24px;
  width: 24px;
  cursor: pointer;
  transition: all 125ms ease-in-out;

  &:hover {
    background-color: rgba(61, 207, 182, 0.3);
  }

  > img {
    height: 18px;
    width: 18px;
  }
}

.privacy-container {
  height: auto;
  width: 100%;

  > p {
    line-height: 30px;

    > span {
      transition: all 100ms ease-in-out;
      color: #3dcfb6;
      cursor: pointer;

      &:hover {
        color: white;
      }
    }
  }
}

.btn-container {
  @include dFlex($fd: row, $g: 48px);
  height: 48px;
  width: auto;
  text-decoration: none;
  color: #ffffff !important;
  background-color: #ffffff00;
  font-family: "karla";
  font-size: 18px;
  font-weight: 400;
  min-width: fit-content;
  border: 1px solid #ffffff !important;
  border-radius: 100px;
  padding: 0px 24px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: all 125ms ease-in-out;

  &:hover .btn-content {
    transform: translate(-150%);
  }

  &:hover {
    border-color: rgba(61, 207, 182, 1) !important;
    background-color: rgba(61, 207, 182, 0.05);
  }

  .btn-content {
    @include dFlex($fd: row, $jc: space-between);
    transition: transform 700ms ease-in-out;

    .btn-content-duplicate {
      position: absolute;
      left: 150%;
      white-space: nowrap;
      transition: all 700ms ease-in-out;
    }
  }
}

.btn-disabled {
  @include dFlex($fd: row, $g: 48px);
  height: 48px;
  width: auto;
  text-decoration: none;
  color: #838383;
  background-color: #ffffff00;
  font-family: "karla";
  font-size: 18px;
  font-weight: 400;
  min-width: fit-content;
  border: 1px solid #838383;
  border-radius: 100px;
  padding: 0px 24px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: all 125ms ease-in-out;

  .btn-content {
    @include dFlex($fd: row, $jc: space-between);

    .btn-content-duplicate {
      position: absolute;
      left: 150%;
      white-space: nowrap;
    }
  }
}

@media (max-width: 1388px) {
  form {
    width: 100%;
    max-width: 358px;
  }
}

@media (max-width: 1000px) {
  .hide-mobile {
    display: none;
  }

  .show-mobile {
    display: flex;
  }

  .input-container {
    @include dFlex();
    border-top: 1px solid #3dcfb6;
    border-bottom: 1px solid #3dcfb6;
    width: 100%;

    > div {
      > span {
        font-size: 20px;
      }

      > input,
      textarea {
        font-size: 16px;
      }
    }
  }

  .validate-container {
    font-size: 15px;
  }
}
