<form>
    <div class="input-container">
        <div>
            <span>What's your name?</span>
            <input type="text" placeholder="your name goes here">
        </div>
        <div>
            <span>What's your email?</span>
            <input type="text" placeholder="youremail@email.com">
        </div>
        <div>
            <span>How can i help you?</span>
            <input type="text" value="Hello Mike, I am Interested in...">
        </div>
    </div>
    <div class="validate-container">
        <p>
            <img src="assets/icons/checkbox.png" alt="">
            I've read the <span>privacy policy</span> and agree to the processing of my data as outlined.
        </p>
        <button class="btn-container">
            <span>Say Hello ;)</span>
        </button>
    </div>
</form>