<form>
    <div class="input-container">
        <div>
            <span>{{ 'input.name' | translate }}</span>
            <input type="text" placeholder="{{ 'input.placeholderName' | translate }}">
        </div>
        <div>
            <span>{{ 'input.email' | translate }}</span>
            <input type="text" placeholder="{{ 'input.placeholderEmail' | translate }}">
        </div>
        <div>
            <span>{{ 'input.help' | translate }}</span>
            <input type="text" value="{{ 'input.placeholderHelp' | translate }}">
        </div>
    </div>
    <div class="validate-container">
        <p>
            <img src="assets/icons/checkbox.png" alt="">
            {{ 'input.privacy' | translate }}
        </p>
        <button class="btn-container">
            <span>{{ 'input.submitButton' | translate }}</span>
        </button>
    </div>
</form>
