<form>
    <div class="input-container">
        <div>
            <span>{{ 'input.name' | translate }}</span>
            <input type="text" placeholder="{{ 'input.placeholderName' | translate }}">
        </div>
        <div>
            <span>{{ 'input.email' | translate }}</span>
            <input type="text" placeholder="{{ 'input.placeholderEmail' | translate }}">
        </div>
        <div>
            <span>{{ 'input.help' | translate }}</span>
            <textarea type="text" placeholder="{{ 'input.placeholderHelp' | translate }}"></textarea>
        </div>
    </div>
    <div class="validate-container">
        <div class="validate">
            <div (click)="toggleCheckbox()" class="img-container">
                <img [src]="checkboxUrl" alt="">
            </div>
            <div class="privacy-container">
                <p>
                    {{ 'input.privacy1' | translate }}
                    <span>{{ 'input.privacy2' | translate }}</span>
                    <br>
                    {{'input.privacy3' | translate }}
                </p>
            </div>
        </div>
        <button class="btn-container">
            <span>{{ 'input.submitButton' | translate }}</span>
        </button>
    </div>
</form>