<div (click)="event($event)" class="p-dialog">
    <div class="text-container">
        <div class="name-container">
            <h1>01</h1>
            <h2>Join</h2>
        </div>
        <div class="about-container">
            <h3>What is this project about ?</h3>
            <p>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions,
                assign users and categories. </p>
            <div>
                <span>
                    <img src="assets/skill-icons/green/css.png" alt="">
                    CSS
                </span>
                <span>
                    <img src="assets/skill-icons/green/html.png" alt="">
                    HTML
                </span>
                <span>
                    <img src="assets/skill-icons/green/firebase.png" alt="">
                    Firebase
                </span>
                <span>
                    <img src="assets/skill-icons/green/javascript.png" alt="">
                    JavaScript
                </span>
            </div>
        </div>
        <div class="btn-container">
            <div class="btn">
                <span>Github</span>
                <img src="assets/icons/arrow-outward.png" alt="">
            </div>
            <div class="btn">
                <span>Live Test</span>
                <img src="assets/icons/arrow-outward.png" alt="">
            </div>
        </div>
    </div>
    <div class="img-container">
        <img class="close" src="assets/icons/close.png" alt="">
        <img class="project" src="assets/img/join.png" alt="">
        <div>
            <span>Next project</span>
            <img src="assets/icons/arrow-forward.png" alt="">
        </div>
    </div>
</div>