<div (click)="handleClick($event)" [ngStyle]="{'transform': dialogService.translationX}" class="p-dialog">
    <div class="text-container">
        <div class="name-container">
            <h1>01</h1>
            <h2>Join</h2>
        </div>
        <div class="about-container">
            <h3>{{ "projects.about" | translate}}</h3>
            <p>{{ "projects.description" | translate}}</p>
            <div>
                <span>
                    <img src="assets/skill-icons/green/css.png" alt="">
                    CSS
                </span>
                <span>
                    <img src="assets/skill-icons/green/html.png" alt="">
                    HTML
                </span>
                <span>
                    <img src="assets/skill-icons/green/firebase.png" alt="">
                    Firebase
                </span>
                <span>
                    <img src="assets/skill-icons/green/javascript.png" alt="">
                    JavaScript
                </span>
            </div>
        </div>
        <div class="btn-container">
            <div class="btn">
                <span>Github</span>
                <img src="assets/icons/arrow-outward.png" alt="">
            </div>
            <div class="btn">
                <span>Live Test</span>
                <img src="assets/icons/arrow-outward.png" alt="">
            </div>
        </div>
    </div>
    <div class="img-container">
        <img (click)="dialogService.closeDialog()" class="close" src="assets/icons/close.png" alt="">
        <img class="project" src="assets/img/join.png" alt="">
        <div>
            <span>{{ "projects.next" | translate}}</span>
            <img src="assets/icons/arrow-forward.png" alt="">
        </div>
    </div>
</div>