<div class="menubar">
    <menu class="menu-links">
        <label class="switch">
            <input type="checkbox">
            <span class="slider" (click)="this.toggleLanguage()" [ngClass]="{de: this.isGerman}"></span>
            <div>
                <span>EN</span>
                <span>DE</span>
            </div>
        </label>
        <a (mouseover)="mouseover('about');" (mouseout)="mouseout('about');" href="#aboutme">{{
            'menu.aboutMe' | translate }}
            <img [ngStyle]="{'opacity': this.about ? 1 : 0}" class="dot" src="assets/icons/dot.png" alt="">
        </a>
        <a (mouseover)="mouseover('skills');" (mouseout)="mouseout('skills');" href="#">{{ 'menu.skills' | translate
            }}
            <img [ngStyle]="{'opacity': this.skills ? 1 : 0}" class="dot" src="assets/icons/dot.png" alt="">
        </a>
        <a (mouseover)="mouseover('projects');" (mouseout)="mouseout('projects');" href="#">{{ 'menu.projects' |
            translate }}
            <img [ngStyle]="{'opacity': this.projects ? 1 : 0}" class="dot" src="assets/icons/dot.png" alt="">
        </a>
    </menu>
    <img src="assets/img/logo-name.png" alt="">
</div>

<div class="mobile-view">
    <div class="mobile-bar">
        <img class="logo" src="assets/img/logo.png" alt="">
        <img class="burger" src="assets/icons/menu-green.png" alt="">
    </div>
</div>