@import "../../../../mixins.scss";

.dot {
  transition: all 125ms ease-in-out;
  top: 0;
  z-index: 98;
}

.menubar {
  position: fixed;
  z-index: 99;
  top: 0;
  background:  linear-gradient(0deg, #1c1c1c00 50%, #08463b 100%);
  width: 100%;
  max-width: 1920px;
  height: 50px;
  @include dFlex($jc: space-between, $fd: row);
  padding: 48px 96px;
  transition: all 125ms ease-in-out;
  >menu {
    @include dFlex($fd: row, $g: 25px);

    >a {
      @include dFlex($g: 5px);
      text-decoration: none;
      color: #ffffff;
      cursor: pointer;
      transition: all 100ms ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
      &:hover .dot {
        top: 25px;
      }

      >img {
        position: absolute;
        top: 10px;
      }
    }
  }

  >a {
    >img {
      width: auto;
      height: 48px;
    }
  }
}

/* From Uiverse.io by gharsh11032000 */
/* The switch - the box around the slider */
.switch {
  font-family: "karla";
  position: relative;
  display: inline-block;
  width: 84px;
  height: 28px;
  color: rgb(41, 136, 120);
  transition: all 125ms ease-in-out;

  &:hover {
    color: hsla(170, 60%, 53%, 1);
  }

  >div {
    position: absolute;
    top: 5px;
    width: 100%;
    @include dFlex($fd: row, $jc: space-between);
    padding: 0px 11px;
  }
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  z-index: 99;
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: #9fccfa00;
  border-radius: 100px;
  transition: all 125ms ease-in-out;
  border: 1px solid white;

  &:hover {
    border: 1px solid hsla(170, 60%, 53%, 0.5);
  }
}

.slider:before {
  font-family: "karla";
  position: absolute;
  content: "EN";
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 27.5px;
  width: 48px;
  inset: -1px;
  background-color: #3dcfb6;
  border-radius: 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  transition: all 100ms ease-in-out;
}

.slider.de:before {
  content: "DE";
}

.switch input:checked+.slider {
  background: #6992c000;
}

.switch input:focus+.slider {
  box-shadow: 0 0 1px #0975f100;
}

.slide:before {
  transform: translateX(36px);
}

.mobile-view {
  display: none;
}

@media (max-width: 1000px) {
  .menubar {
    display: none;
  }

  .mobile-view {
    background:  linear-gradient(0deg, #1c1c1c00 50%, #08463b 100%);
    padding: 28px 16px;
    display: flex;
    left: 0;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 99;
  }

  .mobile-bar {
    @include dFlex($fd: row, $jc: space-between);
    width: 100%;

    >img {
      cursor: pointer;
    }
  }

  .logo {
    width: auto;
    height: 48px;
  }

  .burger {
    width: 32px;
    height: auto;
    transition: all 125ms ease-in-out;

    &:hover {
      filter: brightness(100);
    }
  }
}