@import "../../../../mixins.scss";

$blur: 4px;

.banner {
  padding: 12px 24px;
  position: absolute;
  bottom: 50px;
  left: -100px;
  right: -100px;
  max-height: 60px;
  color: white;
  font-family: "karla";
  font-weight: 400;
  font-size: 32px;
  @include dFlex($fd: row, $g: 56px);
  background-color: rgba(75, 75, 75, 0.226);
  -webkit-backdrop-filter: blur($blur);
  backdrop-filter: blur($blur);
  overflow: hidden;
  transform: rotate(-2deg);
  > div {
    position: relative;
    @include dFlex($fd: row, $g: 56px);
    animation: movement 5s infinite;
    min-width: fit-content;
    > span {
      min-width: fit-content;
    }
  }
}

@media (max-width: 1000px) {
  .banner {
    font-size: 24px;
    left: -50px;
    right: -50px;
  }
}
