@import "../../../../mixins.scss";

.banner {
  padding: 12px 32px;
  position: absolute;
  @include dFlex($fd: row, $g: 56px);
  bottom: 50px;
  max-height: 60px;
  left: -100px;
  right: -100px;
  backdrop-filter: blur(4px);
  background-color: rgba(88, 88, 88, 0.068);
  transform: rotate(-2deg);
  color: white;
  font-family: "karla";
  font-weight: 400;
  font-size: 32px;
}

@media (max-width: 1548px) {
  .banner {
    font-size: 24px;
  }
}
