@import "../../../../mixins.scss";

$blur: 4px;
$animationLength: 40s;

.banner {
  padding: 12px 24px;
  position: absolute;
  bottom: 50px;
  left: -3px;
  right: -3px;
  width: 100%;
  max-height: 60px;
  color: rgba(61, 207, 182, 1);
  font-family: "karla";
  font-weight: 400;
  font-size: 32px;
  @include dFlex($fd: row, $g: 56px);
  background-color: rgba(75, 75, 75, 0.226);
  -webkit-backdrop-filter: blur($blur);
  backdrop-filter: blur($blur);
  overflow: hidden;
  transform: rotate(-2deg);
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(
      to right,
      rgba(28, 28, 28, 1),
      rgba(28, 28, 28, 0) 10%,
      rgba(28, 28, 28, 0) 90%,
      rgba(28, 28, 28, 0.815)
    );
  }
}

.banner-content {
  @include dFlex($fd: row, $g: 56px);
  animation: movement $animationLength linear infinite;
  min-width: max-content;
  > div {
    position: relative;
    @include dFlex($fd: row, $g: 56px);
    min-width: fit-content;
    > span {
      min-width: fit-content;
    }
  }
}

@keyframes movement {
  from {
    transform: translateX(1200px);
  }
  to {
    transform: translateX(-2020px);
  }
}

@keyframes movement1000 {
  from {
    transform: translateX(1500px);
  }
  to {
    transform: translateX(-1150px);
  }
}

@media (max-width: 1000px) {
  .banner {
    font-size: 24px;
    left: -15px;
    right: -15px;
    overflow: hidden;
    box-shadow: 22px 0px 0px 0px rgba(75, 75, 75, 0.226),
      -22px 0px 0px 0px rgba(75, 75, 75, 0.226);
  }

  .banner-content {
    animation: movement1000 $animationLength linear infinite;
  }
}

@media (max-width: 450px) {
  .banner {
    left: 0px;
    right: 0px;
  }
}
