@import "../../../../mixins.scss";

.quotes-container {
  @include dFlex($fd: row, $g: 64px);
  width: 100%;
  height: 274px;
  position: relative;
}

.shadow-container {
  position: relative;
  top: -274px;
  left: 0;
  width: 100vw;
  height: 274px;
  z-index: 5;
  background: linear-gradient(90deg, rgba(28, 28, 28, 1) 0%, rgba(0, 0, 0, 0) 25%, rgba(10, 10, 10, 0) 75%, rgba(28, 28, 28, 1) 100%);
}

.quote {
  @include dFlex($g: 44px);
  position: absolute;
  width: 632px;
  height: 100%;
  border: 1px solid rgba(61, 207, 182, 1);
  border-radius: 32px;
  padding: 48px 40px;
  background-color: rgba(61, 207, 182, 0.3);
  transition: all 300ms ease-in-out;

  >img {
    position: absolute;
    top: -20px;
    left: -20px;
  }
}

.text {
  overflow-y: auto;
}

.sign-container {
  @include dFlex($g: 16px);
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  >div {
    border-top: 1px solid white;
    width: 100%;
  }

  >span {
    min-width: fit-content;
  }
}

@media (max-width: 1000px) {
  .quote {
    width: 358px;
    font-size: 18px;
    >img {
      width: 67px;
      height: 48px;
      top: -10px;
      left: -10px;
    }
  }
  
  .shadow-container {
    display: none;
  }
}

@media(max-width: 372px) {
  .quote {

  }
}