<div (click)="stopProp($event)" class="responsive-menu" [ngStyle]="{'transform' : this.dialogService.translationX}">
    <div>
        <a (click)="this.dialogService.closeDialog()" href="#aboutme">
            {{ 'menu.aboutMe' | translate }}
        </a>
        <a (click)="this.dialogService.closeDialog()" href="#skills">
            {{ 'menu.skills' | translate }}
        </a>
        <a (click)="this.dialogService.closeDialog()" href="#portfolio">
            {{ 'menu.projects' | translate }}
        </a>
        <label class="switch">
            <input type="checkbox">
            <span class="slider" (click)="this.toggleLanguage()" [ngClass]="{de: this.isGerman}"></span>
            <div>
                <span>EN</span>
                <span>DE</span>
            </div>
        </label>
    </div>
</div>