<div class="headline">
    <h2>{{ 'headline.title' | translate }}</h2>
    <div class="action-btn">
        <h1>Mike Schauber</h1>
        <div class="btn">
            <div class="btn-container">
                <a href="https://mike-schauber.developerakademie.net/developer-akademie/projekt-website/index.html"
                    target="_blank">{{ 'headline.checkWork' | translate }}</a>
            </div>
            <div class="btn-container">
                <a>{{ 'headline.contactMe' | translate }}</a>
            </div>
        </div>
    </div>
</div>