<div class="mover"></div>
<main>
    <header>
        <a href="">
            <img src="assets/img/logo-name.png" alt="">
        </a>
    </header>
    <div class="impressum">
        <h1>{{ 'privacy.title' | translate }}</h1>
        <p>{{ 'privacy.date' | translate }}</p>
        <h2>{{ 'privacy.contents' | translate }}</h2>
        <h2 id="m3">{{ 'privacy.responsible' | translate }}</h2>
        <p>{{ 'privacy.name' | translate }}<br>{{ 'privacy.address' | translate }}<br>{{ 'privacy.city' | translate }}
        </p>
        <p>{{ 'privacy.email' | translate }}: <a
                href="mailto:mike.schauber96@gmail.com">mike.schauber96&#64;gmail.com</a></p>
        <p>{{ 'privacy.imprint' | translate }}: www.mikeschauber.de/imprint</p>

        <h2 id="mOverview">{{ 'privacy.processing_overview' | translate }}</h2>
        <p>{{ 'privacy.processing_summary' | translate }}</p>
        <h3>{{ 'privacy.data_types' | translate }}</h3>
        <ul>
            <li>{{ 'privacy.data_types_1' | translate }}</li>
            <li>{{ 'privacy.data_types_2' | translate }}</li>
            <li>{{ 'privacy.data_types_3' | translate }}</li>
            <li>{{ 'privacy.data_types_4' | translate }}</li>
            <li>{{ 'privacy.data_types_5' | translate }}</li>
            <li>{{ 'privacy.data_types_6' | translate }}</li>
        </ul>
        <h3>{{ 'privacy.data_subjects' | translate }}</h3>
        <ul>
            <li>{{ 'privacy.subjects_1' | translate }}</li>
            <li>{{ 'privacy.subjects_2' | translate }}</li>
        </ul>
        <h3>{{ 'privacy.processing_purposes' | translate }}</h3>
        <ul>
            <li>{{ 'privacy.purpose_1' | translate }}</li>
            <li>{{ 'privacy.purpose_2' | translate }}</li>
            <li>{{ 'privacy.purpose_3' | translate }}</li>
            <li>{{ 'privacy.purpose_4' | translate }}</li>
            <li>{{ 'privacy.purpose_5' | translate }}</li>
            <li>{{ 'privacy.purpose_6' | translate }}</li>
        </ul>
        <h2 id="m2427">{{ 'privacy.legal_basis' | translate }}</h2>
        <p><strong>{{ 'privacy.legal_basis_summary' | translate }}</strong> {{ 'privacy.legal_basis_details' | translate
            }}</p>
        <ul>
            <li><strong>{{ 'privacy.contract_fulfillment' | translate }}</strong> - {{
                'privacy.contract_fulfillment_details' | translate }}</li>
            <li><strong>{{ 'privacy.legitimate_interests' | translate }}</strong> - {{
                'privacy.legitimate_interests_details' | translate }}</li>
        </ul>
        <p><strong>{{ 'privacy.national_regulations' | translate }}</strong> {{ 'privacy.national_regulations_details' |
            translate }}</p>
        <p><strong>{{ 'privacy.notice_on_gdpr' | translate }}</strong> {{ 'privacy.notice_on_gdpr_details' | translate
            }}</p>

        <h2 id="m27">{{ 'privacy.security_measures' | translate }}</h2>
        <p>{{ 'privacy.security_measures_summary' | translate }}</p>
        <p>{{ 'privacy.security_measures_details' | translate }}</p>

        <h2 id="m24">{{ 'privacy.international_transfers' | translate }}</h2>
        <p>{{ 'privacy.international_transfers_summary' | translate }}</p>
        <p><a href="https://commission.europa.eu/law/law-topic/data-protection/international-dimension-data-protection_en?prefLang=de"
                target="_blank">{{ 'privacy.eu_commission' | translate }}</a></p>

        <h2 id="m12">{{ 'privacy.data_storage' | translate }}</h2>
        <p>{{ 'privacy.data_storage_summary' | translate }}</p>
        <p>{{ 'privacy.data_storage_exceptions' | translate }}</p>
        <p>{{ 'privacy.data_storage_additional' | translate }}</p>
        <p>{{ 'privacy.data_storage_duration' | translate }}</p>
        <p>{{ 'privacy.data_storage_start' | translate }}</p>
        <p>{{ 'privacy.data_storage_purpose' | translate }}</p>
        <p><strong>{{ 'privacy.additional_notes' | translate }}</strong></p>
        <ul class="m-elements">
            <li><strong>{{ 'privacy.storage_terms' | translate }}:</strong>
                <ul>
                    <li>10 {{ 'privacy.storage_years' | translate }}</li>
                    <li>6 {{ 'privacy.storage_years_business' | translate }}</li>
                    <li>3 {{ 'privacy.storage_years_contracts' | translate }}</li>
                </ul>
            </li>
        </ul>
        <h2 id="m10">{{ 'privacy.rights' | translate }}</h2>
        <p>{{ 'privacy.rights_summary' | translate }}</p>
        <ul>
            <li><strong>{{ 'privacy.right_to_object' | translate }}</strong></li>
            <li><strong>{{ 'privacy.right_of_withdrawal' | translate }}</strong></li>
            <li><strong>{{ 'privacy.right_to_information' | translate }}</strong></li>
            <li><strong>{{ 'privacy.right_to_correction' | translate }}</strong></li>
            <li><strong>{{ 'privacy.right_to_deletion' | translate }}</strong></li>
            <li><strong>{{ 'privacy.right_to_data_transfer' | translate }}</strong></li>
            <li><strong>{{ 'privacy.complaint' | translate }}</strong></li>
        </ul>

        <h2 id="m225">{{ 'privacy.online_services' | translate }}</h2>
        <p>{{ 'privacy.online_services_summary' | translate }}</p>
        <ul class="m-elements">
            <li><strong>{{ 'privacy.processed_data' | translate }}:</strong> {{ 'privacy.processed_data_details' |
                translate }}</li>
            <li><strong>{{ 'privacy.data_subjects' | translate }}:</strong> {{ 'privacy.data_subjects_details' |
                translate }}</li>
            <li><strong>{{ 'privacy.processing_purpose' | translate }}:</strong> {{ 'privacy.processing_purpose_details'
                | translate }}</li>
            <li><strong>{{ 'privacy.storage_and_deletion' | translate }}:</strong> {{
                'privacy.storage_and_deletion_details' | translate }}</li>
            <li class=""><strong>{{ 'privacy.legal_basis' | translate }}:</strong> {{ 'privacy.legal_basis_details' |
                translate }}</li>
        </ul>
        <p><strong>{{ 'privacy.additional_notes' | translate }}</strong></p>
        <ul class="m-elements">
            <li><strong>{{ 'privacy.logfiles' | translate }}:</strong> {{ 'privacy.logfiles_details' | translate }}</li>
        </ul>
        <h2 id="m182">{{ 'privacy.contact_management' | translate }}</h2>
        <p>{{ 'privacy.contact_management_summary' | translate }}</p>
        <ul class="m-elements">
            <li><strong>{{ 'privacy.processed_data_types' | translate }}:</strong> {{
                'privacy.processed_data_types_details' | translate }}</li>
            <li><strong>{{ 'privacy.data_subjects' | translate }}:</strong> {{ 'privacy.data_subjects_contact' |
                translate }}</li>
            <li><strong>{{ 'privacy.processing_purpose' | translate }}:</strong> {{ 'privacy.processing_purpose_contact'
                | translate }}</li>
            <li><strong>{{ 'privacy.storage_and_deletion' | translate }}:</strong> {{
                'privacy.storage_and_deletion_contact' | translate }}</li>
            <li class=""><strong>{{ 'privacy.legal_basis' | translate }}:</strong> {{ 'privacy.legal_basis_contact' |
                translate }}</li>
        </ul>
        <p><strong>{{ 'privacy.contact_form' | translate }}</strong></p>
        <ul class="m-elements">
            <li><strong>{{ 'privacy.contact_details' | translate }}:</strong> {{ 'privacy.contact_details_info' |
                translate }}</li>
        </ul>
        <p class="seal"><a href="https://datenschutz-generator.de/"
                title="{{ 'privacy.privacy_generator' | translate }}" target="_blank"
                rel="noopener noreferrer nofollow">{{ 'privacy.generated_with' | translate }}</a></p>
    </div>
    <app-footer></app-footer>
</main>