@import "../../../../mixins.scss";

$width: 1000px;
$width-resp: 100%;

div {
    width: $width;
    @include dFlex($g: 20px, $ai: flex-start);
    color: #3DCFB6;
    font-family: "karla";
    border-bottom: 1px solid #3DCFB6;

    >span {
        font-size: 24px;
        font-weight: 700;
    }

    >h2 {
        font-family: "fira code";
        font-size: 64px;
        font-weight: 700;
        letter-spacing: -3px;
    }

    >p {
        margin-top: 21px;
        margin-bottom: 41px;
        width: 100%;
        color:#FFFFFF;
        font-size: 18px;
        max-width: 456px;
        text-align: justify;
    }
}