@import "../../mixins.scss";

.main-content {
  width: 100%;
  overflow: hidden;
}

.to-the-top {
  height: 50px;
  width: 50px;
  background-color: rgba(63, 207, 183, 0.2);
  position: sticky; /* Sticky Position */
  top: 100px; /* Bleibt 70px vom unteren Rand des Fensters */
  right: 20px;
  border: 1px solid rgba(63, 207, 183, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.block {
  animation: appear 5s linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

@media (max-width: 1000px) {
  .dialog {
    padding: 0px 16px;
  }
}
