@import "../../mixins.scss";

a {
  text-decoration: none;
  color: rgba(61, 207, 182, 1);
}

main {
  background: linear-gradient(55.22deg, #1c1c1c 55%, #08463b 100%);
  color: white;
  font-family: "karla";
  > div {
    padding: 0px 96px;
    margin-top: 84px;
    @include dFlex();
    width: 100%;
  }
}

header {
  width: 100%;
  position: relative;
  top: 48px;
  height: 50px;
  padding: 0px 96px;
  @include dFlex($fd: row, $jc: flex-end);
  > a {
    > img {
      width: auto;
      height: 48px;
    }
  }
}

@media (max-width: 1000px) {
  header {
    padding: 0px 16px;
  }

  main {
    > div {
      padding: 0px 16px;
    }
  }
}

@media (max-width: 500px) {
  header {
    justify-content: flex-start;
  }
}
