@import "../../mixins.scss";

a {
  text-decoration: none;
  color: rgba(61, 207, 182, 1);
}

main {
  position: relative;
  color: white;
  font-family: "karla";
  width: 100%;
  max-width: 1920px;
}

.header {
  width: 100%;
}

.impressum {
  padding: 0px 96px;
  @include dFlex($ai: flex-start);
  width: 100%;
  max-width: 1920px;
}

.footer {
  position: relative;
  width: 100%;
  max-width: 1920px;
  
}

@media (max-width: 1000px) {

  .impressum {
    padding: 0px 16px;
  }
}