@import "../../../mixins.scss";

div {
  @include dFlex();
  justify-content: flex-start;
  color: white;
  width: 100%;
  padding: 64px 96px;
  font-family: "karla";

  > main {
    width: 100%;
    @include dFlex($fd: row, $ai: flex-start, $jc: space-between);
  }
}

@media (max-width: 1000px) {
  div {
    padding: 48px 16px;
    justify-content: flex-start;
    align-items: flex-start;
    > main {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 64px;
    }
  }
}
