<div class="skill-background">
    <div class="container">
        <p>Technologies</p>
        <div class="maincont">
            <div class="text">
                <h2>Skill Set</h2>
                <div>
                    <p>My journey has involved working on diverse projects, employing a range of frontend technologies
                        and concepts. I am open to embracing new technologies and methodologies to Continously enhance
                        my skills and stay ahead in the ever-evolving landscape of web development.</p>
                    <h3 class="another-c">You need <span>another skill?</span></h3>
                    <p class="last-text">Feel free to contact me. I look forward to expanding on my previous knowledge.
                    </p>
                </div>
                <a (mouseenter)="animationForward()" (mouseleave)="animationReverse()" href="#">
                    <span [ngStyle]="{transform: transformX}">
                        Lets Talk
                    </span>
                </a>
            </div>
            <div class="icons">
                <div><img src="assets/skill-icons/white/html.png" alt="">HTML</div>
                <div><img src="assets/skill-icons/white/css.png" alt="">CSS</div>
                <div><img src="assets/skill-icons/white/javascript.png" alt="">JavaScript</div>
                <div><img src="assets/skill-icons/white/material.png" alt="">Material Design</div>
                <div><img src="assets/skill-icons/white/typescript.png" alt="">TypeScript</div>
                <div><img src="assets/skill-icons/white/angular.png" alt="">Angular</div>
                <div><img src="assets/skill-icons/white/firebase.png" alt="">Firebase</div>
                <div><img src="assets/skill-icons/white/git.png" alt="">GIT</div>
                <div><img src="assets/skill-icons/white/api.png" alt="">Rest-Api</div>
                <div><img src="assets/skill-icons/white/scrum.png" alt="">Scrum</div>
                <div><img src="assets/skill-icons/green/growth.png" alt="">Growth mindset</div>
            </div>
        </div>
    </div>

</div>