<div class="skill-background">
    <div class="container">
        <div class="maincont">
            <div class="animation-from-right animElement">
                <p>{{ 'skillset.skills' | translate }}</p>
                <div class="text">
                    <h2>{{ 'skillset.skillSet' | translate }}</h2>
                    <div>
                        <p>{{ 'skillset.description' | translate }}</p>
                        <h3 class="another-c">
                            {{ 'skillset.anotherSkillText' | translate }}
                            <span>{{ 'skillset.anotherSkillSpan' | translate }}</span>
                        </h3>

                        <p class="last-text">{{ 'skillset.contactText' | translate }}</p>
                    </div>
                    <div class="btn-container">
                        <a href="#formular">
                            <div class="btn-content">
                                <span>{{ 'skillset.letsTalk' | translate }}</span>
                                <span class="btn-content-duplicate">{{ 'skillset.letsTalk' | translate }}</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="icons">
                <div class="icon-from-left animElement"><img src="assets/skill-icons/white/html.png" alt="">HTML</div>
                <div class="icon-from-right animElement"><img src="assets/skill-icons/white/css.png" alt="">CSS</div>
                <div class="icon-from-left animElement"><img src="assets/skill-icons/white/javascript.png" alt="">JavaScript</div>
                <div class="icon-from-right animElement"><img src="assets/skill-icons/white/material.png" alt="">Material Design</div>
                <div class="icon-from-left animElement"><img src="assets/skill-icons/white/typescript.png" alt="">TypeScript</div>
                <div class="icon-from-right animElement"><img src="assets/skill-icons/white/angular.png" alt="">Angular</div>
                <div class="icon-from-left animElement"><img src="assets/skill-icons/white/firebase.png" alt="">Firebase</div>
                <div class="icon-from-right animElement"><img src="assets/skill-icons/white/git.png" alt="">GIT</div>
                <div class="icon-from-left animElement"><img src="assets/skill-icons/white/api.png" alt="">Rest-Api</div>
                <div class="icon-from-right animElement"><img src="assets/skill-icons/white/scrum.png" alt="">Scrum</div>
                <div class="speech-cont animation-from-left animElement">
                    <div [ngClass]="{'speech-show': this.mind}" class="speech sb">
                        <span> {{ 'skillset.interest' | translate }}</span>
                        <div>
                            <img src="assets/skill-icons/green/react.png" alt="">
                            <img src="assets/skill-icons/green/vue.png" alt="">
                        </div>
                    </div>
                    <img (mouseover)="hover('in')" (mouseout)="hover('out')" src="assets/skill-icons/green/growth.png"
                        alt="">
                    Growth mindset
                </div>
            </div>
        </div>
    </div>
</div>