@import "../../../mixins.scss";

.skill-background {
  height: 100vh;
  width: 100%;
  background: radial-gradient(
    22.43% 43.85% at 1.22% 52.45%,
    rgba(8, 70, 59, 0.3) 0%,
    #1c1c1c00 100%
  );
}

.container {
  padding: 0px 96px;
  width: 100%;
  height: 100%;
  @include dFlex($g: 20px);
}

.maincont {
  width: 100%;
  @include dFlex($fd: row, $ai: flex-start);
  > div:first-of-type {
    @include dFlex($g: 20px, $ai: flex-start);
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    color: rgba(61, 207, 182, 1);
  }
}

.text {
  max-width: 503px;
  background-color: rgba(61, 207, 182, 0.1);
  @include dFlex($g: 40px, $ai: flex-start);
  padding: 32px;
  border: 1px solid rgba(61, 207, 182, 1);
  border-radius: 30px;
  color: rgba(61, 207, 182, 1);

  > h2 {
    font-size: 64px;
    font-weight: 700;
    font-family: "fira code";
  }

  > div {
    color: white;
    @include dFlex($g: 32px, $ai: flex-start);
    > p {
      font-size: 18px;
      color: rgba(255, 255, 255, 1);
    }
  }

  > a {
    text-decoration: none;
    color: white;
    border: 1px solid rgba(255, 255, 255, 1);
    font-size: 18px;
    border-radius: 100px;
    padding: 0px 24px !important;
    height: 48px;
    width: auto;
    z-index: 2;
    @include dFlex();
    overflow: hidden;
    transition: all 125ms ease-in-out;

    &:hover {
      border-color: rgba(61, 207, 182, 1);
      background-color: rgba(61, 207, 182, 0.05);
    }
  }
}

.btn-container {
  @include dFlex($fd: row, $g: 48px);
  min-width: fit-content;

  > a {
    @include dFlex($fd: row, $g: 48px);
    z-index: 2;
    height: 48px;
    width: auto;
    text-decoration: none;
    color: #ffffff;
    font-family: "karla";
    font-size: 18px;
    font-weight: 400;
    min-width: fit-content;
    border: 1px solid #ffffff;
    border-radius: 100px;
    padding: 0px 24px;
    cursor: pointer;
    position: relative;
    transition: all 125ms ease-in-out;
    overflow: hidden;

    &:hover .btn-content {
      transform: translateX(-150%);
    }

    &:hover {
      border-color: rgba(61, 207, 182, 1);
      background-color: rgba(61, 207, 182, 0.05);
    }
  }
}

.btn-content {
  @include dFlex($fd: row, $jc: space-between);
  transition: all 700ms ease-in-out;

  .btn-content-duplicate {
    position: absolute;
    left: 150%;
    white-space: nowrap;
  }
}

.last-text {
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
}

.another-c {
  font-size: 24px;
  font-family: "fira code";

  > span {
    color: rgba(61, 207, 182, 1);
  }
}

.icons {
  position: relative;
  top: 48px;
  width: 100%;
  height: 100%;
  max-width: 632px;
  max-height: 428px;
  @include dFlex($g: 72px, $fd: row, $jc: flex-start, $ai: flex-start);
  flex-wrap: wrap;
  color: white;
  font-size: 18px;
  font-family: "fira code";

  > div {
    @include dFlex($g: 8px);
    width: 100%;
    height: 100%;
    max-width: 104px;
    max-height: 116px;
    text-align: center;

    > img {
      z-index: 9;
      height: 60px;
      width: 60px;
      cursor: pointer;
      transition: all 500ms ease-in-out;

      &:hover {
        transform: rotateY(360deg);
        transition: transform 500ms ease-in-out;
      }
    }
  }
}

.speech-cont {
  position: relative;
  @include dFlex();
}

.speech {
  width: auto;
  height: auto;
  padding: 11px !important;
  @include dFlex($g: 8px);
  position: absolute;
  top: -165px;
  left: -19px;
  background-color: white;
  border-radius: 16px;
  color: rgba(61, 207, 182, 1);
  font-size: 16px;
  transition: all 125ms ease-in-out;

  > span {
    width: 172px;
    letter-spacing: -1px;
  }

  > div {
    @include dFlex($fd: row, $g: 16px);
  }

  opacity: 0;
  z-index: -2;
}

.sb:before {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: white;
  border-radius: 7px;
  transform: rotate(45deg);
  right: 50%;
  bottom: -9px;
  z-index: -1;
}

.speech-show {
  opacity: 1;
  z-index: 999;
}

@media (max-width: 1375px) {
  .skill-background {
    height: calc(100vh * 1.4);
  }

  .container {
    padding: 0;
    height: 100%;
    justify-content: flex-start;
    position: relative;
    top: -50px;

    > p {
      align-items: center;
      max-width: 568px;
    }
  }

  .maincont {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    max-width: 568px;
  }

  .text {
    max-width: 568px;
  }

  .icons {
    justify-content: center;
  }
}

@media (max-width: 1000px) {
  .container {
    padding: 0px 16px;
  }

  .text {
    max-width: 568px;

    > h2 {
      font-size: 56px;
    }

    > div {
      > p {
        font-size: 16px;
      }
    }
  }

  .icons {
    font-size: 16px;

    > img {
      height: 48px;
      width: 48px;
    }
  }
}

@media (max-width: 500px) {
  .icons {
    gap: 16px;
  }

  .text {
    > h2 {
      font-size: 48px;
      word-spacing: -10px;
      min-width: fit-content;
    }
  }
}

@media (max-width: 400px) {
  .skill-background {
    height: calc(100vh * 2);
  }

  .icons {
    > div {
      font-size: 16px;
    }
  }

  .text {
    > h2 {
      font-size: 44px;
      letter-spacing: -2px;
    }
  }
}

@media (max-height: 700px) {
  .skill-background {
    height: calc(100vh * 2.4);
  }
}
