@import "../../../mixins.scss";

.references-container {
  height: 100vh;
  width: 100%;
  color: white;
  @include dFlex($g: 48px);
  gap: 90px;
  > h3 {
    font-family: "fira code";
    font-size: 32px;
    font-weight: 700;
    color: rgba(61, 207, 182, 1);
    text-align: center;
  }
}

.quotes {
  height: 274px;
  z-index: -1;
}

@media (max-width: 1000px) {
  .references-container {
    >h3 {
      font-size: 24px;
      padding: 0px 16px;
    }
  }
}

