@import "../../../mixins.scss";

.references-container {
  height: 100vh;
  width: 100%;
  color: white;
  @include dFlex($g: 48px);
  > h3 {
    font-family: "fira code";
    font-size: 32px;
    font-weight: 700;
    color: rgba(61, 207, 182, 1);
  }
}
