<div class="socials-and-nav hide-mobile">
    <div class="bottom-nav">
        <a class="btn-down-cont" href="#aboutme">
            <img class="btn-down" src="assets/above-section/above-arrow.png" alt="">
        </a>
        <div></div>
    </div>
    <div class="socials">
        <a class="mail mail-desktop" href="mailto:info@mikeschauber.de">info&#64;mikeschauber.de</a>
        <a (mouseover)="mouseover('mail');" (mouseout)="mouseout('mail');" class="mail mail-mobile"
            href="mailto:info@mikeschauber.de">
            <img src="assets/icons/mail.png" alt="">
            <img [ngStyle]="{'opacity': this.mail ? 1 : 0}" class="social-dot" src="assets/icons/dot.png" alt="">
        </a>
        <a (mouseover)="mouseover('github');" (mouseout)="mouseout('github');"
            href="https://github.com/MikeSchauber" target="_blank">
            <img src="assets/icons/github.png" alt="">
            <img [ngStyle]="{'opacity': this.github ? 1 : 0}" class="social-dot" src="assets/icons/dot.png" alt="">
        </a>
        <a (mouseover)="mouseover('linkedin');" (mouseout)="mouseout('linkedin');"
            href="https://www.linkedin.com/in/mike-schauber-b17328303/" target="_blank">
            <img src="assets/icons/linkedin.png" alt="">
            <img [ngStyle]="{'opacity': this.linkedin ? 1 : 0}" class="social-dot" src="assets/icons/dot.png"
                alt="">
        </a>
        <div></div>
    </div>
</div>

<div class="socials-and-nav show-mobile">
    <div class="bottom-nav">
        <a class="btn-down-cont" href="#aboutme">
            <img class="btn-down" src="assets/above-section/above-arrow.png" alt="">
        </a>
        <div></div>
    </div>
    <div class="socials">
        <a (mouseover)="mouseover('mail');" (mouseout)="mouseout('mail');" class="mail"
            href="mailto:info@mikeschauber.de">
            <img src="assets/icons/mail.png" alt="">
            <img [ngStyle]="{'opacity': this.mail ? 1 : 0}" class="social-dot" src="assets/icons/dot.png" alt="">
        </a>
        <a (mouseover)="mouseover('github');" (mouseout)="mouseout('github');"
            href="https://github.com/MikeSchauber" target="_blank">
            <img src="assets/icons/github.png" alt="">
            <img [ngStyle]="{'opacity': this.github ? 1 : 0}" class="social-dot" src="assets/icons/dot.png" alt="">
        </a>
        <a (mouseover)="mouseover('linkedin');" (mouseout)="mouseout('linkedin');"
            href="https://www.linkedin.com/in/mike-schauber-b17328303/" target="_blank">
            <img src="assets/icons/linkedin.png" alt="">
            <img [ngStyle]="{'opacity': this.linkedin ? 1 : 0}" class="social-dot" src="assets/icons/dot.png"
                alt="">
        </a>
        <div></div>
    </div>
</div>