@import "./mixins.scss";

* {
  margin: 0;

  box-sizing: border-box;
}

.d-none {
  display: none !important;
}

.noScroll {
  overflow: hidden !important;
}

html {
  @include dFlex();
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  width: 100%;
  max-width: 1920px;
  background: linear-gradient(55.22deg, #1c1c1c 80%, #08463b 100%);
  background-color: #1c1c1c;
  background-repeat: no-repeat;
  cursor: url("../src/assets/cursor.png"), auto;
  font-family: "karla";
}

.d-none {
  display: none;
}

.dialog {
  @include dFlex();
  width: 100vw;
  height: 100%;
  background-color: #0000003d;
  z-index: 998;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 125ms ease-in-out;
  padding: 0px 96px;
  backdrop-filter: blur(3px);
}

.backdrop-shadow {
  transition: all 125ms ease-in-out;
  &:hover {
    filter: drop-shadow(3px 3px 10px hsla(170, 60%, 53%, 1)) ;
  }
}

.animation-from-left {
  opacity: 0;
  transform: scale(0.6) translateX(-50%);
  transition: all 0.5s ease-in-out;
}

.animation-from-left {
  opacity: 0;
  transform: scale(0.6) translateX(-50%);
  transition: all 0.5s ease-in-out;
}

.animation-from-right {
  opacity: 0;
  transform: scale(0.6) translateX(50%);
  transition: all 0.5s ease-in-out;
}

@media (min-width: 424px) {
  .desktop-from-right {
    opacity: 0;
    transform: scale(0.6) translateX(50%);
    transition: all 0.5s ease-in-out;
  }
}

.visible {
  opacity: 1 !important;
  transform: scale(1) translateX(0%) rotate(0deg) !important;
}

.mover {
  z-index: -1;
  position: fixed;
  background-color: hsla(170, 60%, 53%, 0.5);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  opacity: 0.3;
  filter: blur(10px);
  box-shadow: 0 0 20px #3dcfb7bb, 0 0 40px #3dcfb7c0, 0 0 60px #3dcfb7bb;
  transform: translate(-50%, -50%);
}

@media (max-width: 1000px) {
  body {
    background: linear-gradient(55.22deg, #1c1c1c 88%, #08463b 100%);
  }

  .mover {
    display: none;
    opacity: 0;
  }
}

@media (max-width: 423px) {
  .icon-from-left {
    opacity: 0;
    transform: scale(0.5) translateX(-150%) rotate(-10deg);
    transition: all 0.5s ease-in-out;
  }

  .icon-from-right {
    opacity: 0;
    transform: scale(0.5) translateX(150%) rotate(10deg);
    transition: all 0.5s ease-in-out;
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #0b4a49;
}

::-webkit-scrollbar-thumb {
  background-color: #1ab394;
  border-radius: 10px;
  border: 3px solid #0b4a49;
}

/* karla-300 - latin */
@font-face {
  font-display: swap;
  font-family: "karla";
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/font-karla/karla-v31-latin-300.woff2");
}

/* karla-regular - latin */
@font-face {
  font-display: swap;
  font-family: "karla";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/font-karla/karla-v31-latin-regular.woff2");
}

/* karla-500 - latin */
@font-face {
  font-display: swap;
  font-family: "karla";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/font-karla/karla-v31-latin-500.woff2");
}

/* karla-600 - latin */
@font-face {
  font-display: swap;
  font-family: "karla";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/font-karla/karla-v31-latin-600.woff2");
}

/* karla-700 - latin */
@font-face {
  font-display: swap;
  font-family: "karla";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/font-karla/karla-v31-latin-700.woff2");
}

/* fira-code-300 - latin */
@font-face {
  font-display: swap;
  font-family: "fira code";
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/font-fira-code/fira-code-v22-latin-300.woff2");
}

/* fira-code-regular - latin */
@font-face {
  font-display: swap;
  font-family: "fira code";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/font-fira-code/fira-code-v22-latin-regular.woff2");
}

/* fira-code-500 - latin */
@font-face {
  font-display: swap;
  font-family: "fira code";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/font-fira-code/fira-code-v22-latin-500.woff2");
}

/* fira-code-600 - latin */
@font-face {
  font-display: swap;
  font-family: "fira code";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/font-fira-code/fira-code-v22-latin-600.woff2");
}

/* fira-code-700 - latin */
@font-face {
  font-display: swap;
  font-family: "fira code";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/font-fira-code/fira-code-v22-latin-700.woff2");
}
