<footer class="hide-mobile">
    <div class="first">
        <a href="/">
            <img src="assets/img/logo-name.png" alt="">
        </a>
        <div>
            <p>Web Developer</p>
            <p>Tübingen Germany</p>
        </div>
    </div>
    <div class="second">
        <p>© Mike Schauber 2024</p>
    </div>
    <div class="third">
        <a href="https://github.com/MikeSchauber" target="_blank">Github</a>
        <a href="https://www.linkedin.com/in/mike-schauber-b17328303/" target="_blank">LinkedIn</a>
        <a href="mailto:mike.schauber96@gmail.com">Email</a>
        <a href="imprint">{{ "footer.legalnotice" | translate }}</a>
    </div>
</footer>

<footer class="show-mobile">
    <div class="upper-container">
        <div class="first">
            <a href="/">
                <img src="assets/img/logo-name.png" alt="">
            </a>
            <div>
                <p>Web Developer</p>
                <p>Tübingen Germany</p>
            </div>
        </div>

        <div class="third">
            <a href="https://github.com/MikeSchauber" target="_blank">Github</a>
            <a href="https://www.linkedin.com/in/mike-schauber-b17328303/" target="_blank">LinkedIn</a>
            <a href="mailto:mike.schauber96@gmail.com">Email</a>
            <a href="imprint">{{ "footer.legalnotice" | translate }}</a>
        </div>
    </div>
    <div class="second">
        <p>© Mike Schauber 2024</p>
    </div>
</footer>