<div class="responsive-menu" [ngStyle]="{'transform' : this.translateX}">
    <div>
        <a href="">
            {{ 'menu.aboutMe' | translate }}
        </a>
        <a href="">
            {{ 'menu.skills' | translate }}
        </a>
        <a href="">
            {{ 'menu.projects' | translate }}
        </a>
        <label class="switch">
            <input type="checkbox">
            <span class="slider" (click)="this.toggleLanguage()" [ngClass]="{de: this.isGerman}"></span>
            <div>
                <span>EN</span>
                <span>DE</span>
            </div>
        </label>
    </div>
</div>